/* Example of Writing CSS Variables */
/* $white: #fff; */
/* $grey: #cecece; */
@import "normalize.css";
@import "modules/_global";

/* move to modules__global.css */
.flex{
  display: flex;
}
.align-items--center{
  align-items: center;
}
.justify-content--flex-end{
  justify-content: flex-end;
}
/* move to modules__global.css */

body{
  overflow: hidden;
  background: grey;
}

.main{
  height: 100%;
}

.home{
  flex-direction: row-reverse;
}

.carousel{
  width: 100%;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -100%;
}

.carousel__cell{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.carousel__content{
  width: 50%;
}
