body{
  box-sizing: border-box;
  height: 100%;
  background: #D5D5D5;
  font-family: 'Lato', san-serif;
  font-size: .9rem;
}

*, *:before, *:after{
  box-sizing: border-box;
}

img{
  width: 100%;
}

/* Flex Box */
.flex{
  display: flex;
}
.align-items--center{
  align-items: center;
}
.justify-content--flex-end{
  justify-content: flex-end;
}

.inactive{
  pointer-events: none;
}


/* Heading */
h1{
  font-family: 'Arvo', serif;
  font-size: 2.5rem;
}

h1.main-title{
  margin: .5rem 0;
}

p.sub-title{

}
