.showroom-wrapper{
  width: 100%;
  position: relative;

}


.showroom{
  width: 100%;


  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  display: none;
  z-index: -100;



  background: #00999E;


  &.loaded{
    z-index: 100;
    opacity: 1;
    display: block;
    transition: 300ms linear;
  }

  & div[class^="showroom__container"] {
    width: 100%;
    height: 400px;
    font-size: 200px;
  }

}
