.showroom-wrapper{
  width: 100%;
  position: relative;
}

.showroom{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #EFEFEF;
  opacity: 0;

  &.loaded{
    opacity: 1;
    transition: opacity 2000ms cubic-bezier(.25, 1, .25, 1);
  }

}

section.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/duotone--4.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


  .hero__container{
    width: 100%;
    position: absolute;
    transition: 800ms cubic-bezier(.25, 1, .25, 1);
    &.center{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.top{
      top: 40px;
      left: 0px;
      transform: translate(0, 0);
    }
    &.top-left{
      top: 40px;
      left: 125px;
      transform: translate(0, 0);
    }
    &.bottom{
      right: 0;
      bottom: 0;
      left:0;
    }
  }


  .hero__title-wrapper{
    width: 80%;
    @mixin tablet-up{
      width: 50%;
    }
  }
  .rect{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: rgba(32, 69, 109, .9);
    display: inline-block;
    margin: 0;
    padding: 1rem;
    transition: all 800ms cubic-bezier(.25, 1, .25, 1);
  }
  .rect--grow{
    /* width: 100%; */
    font-size: 2rem;
    background: rgba(255, 255, 255, .8);
    color: rgba(32, 69, 109, 1);
    padding: 1rem 2rem;
    text-align: center
  }
  .frame{
    position: relative;
    padding: 3rem;
    margin: 0;
    opacity: 0;
    transition: 1500ms cubic-bezier(.25, 1, .25, 1);
  }
  .frame__is-animating:before{
    animation: clip-frame 1500ms 1 reverse;

  }
  .frame__is-hiding:before{
    animation: clip-frame 750ms 1 normal;

  }
  .frame:before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 16px #FFFFFF;
  }


  .hero__info-wrapper{}
  .project-tools{
    background: rgba(32, 69, 109, .9);
    padding: 1rem;
  }
  .list-app{
    &.flex-cell{
      flex: 0 0 100%;
      max-width: 100%;
      @mixin tablet-up{
        flex: 0 0 auto;
      }
    }
    img{
      width: 45px;
    }
  }
  .list-frontend{
    &.flex-cell{

      padding-top: .5rem;
      flex: 0 0 100%;
      max-width: 100%;
      @mixin tablet-up{
        flex: 0 0 auto;
      }
    }

    ul{
      font-size: .7rem;

      @mixin tablet-up{
        padding-left: 1rem;
      }
      li{
        padding: 6px 12px;
        border: 1px solid #B0B0B0;
        border-radius: 12px;
        /* background: #FFFFFF; */
        /* color: #20456D; */
        color: #FFFFFF;
        font-weight: 300;
      }
    }
  }
  .btn-cta{
    display: none;
    @mixin laptop-up{
      display: block;
    }
  }
}

section.presentation{
  background: #EFEFEF;

  .project-bulletpoints{
    margin: 2rem 0;
    h4{
      margin-bottom: .5rem;
      color: #20456D;
    }
    p{
      margin-top: .5rem;
    }
  }
  .project-detail{
    p {
      width: 50%;
      margin: 0 auto;
    }
  }
}



.hug{
  position: relative;
}
